img{
    width: 150px;
    height: auto;
 }
 .cardGroup{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 750px;
      margin: 0 auto;
      gap: 10px;
  }
  @media (width<600px){
    .cardGroup{
         grid-template-columns: 1fr;
         width: 50vw;
         justify-content: center
       }
 .card{
    margin-top: 15px
   }
  }
 .card{
       display: flex;
       flex-direction: column;
       box-shadow: 0 0 10px rgba(0,0,0,0.4);
 .title{
       font-weight: bold;
       font-size: 2rem;
       border-bottom: 2px solid black;
       width: calc(100% - 10px);
       text-align: center;
       align-self: center;
    }
    .image{
       text-align:center;
       padding: 15px;
       margin: 0 auto; 
    }
    .main{
       padding: 8px;
       flex-grow: 1;
    }
    .foot{
       background: red;
       color:white;
       text-align: center;
       padding: 5px;
      }
 }